services:
  activemq:
    image: apache/activemq-classic:5.19.0
    container_name: activemq
    ports:
      - "61616:61616" # OpenWire
      - "61613:61613" # STOMP
      - "61614:61614" # STOMP WebSocket
      - "8161:8161" # Web console
    volumes:
      - ./activemq.xml:/opt/activemq/conf/activemq.xml
    environment:
      ACTIVEMQ_ADMIN_LOGIN: admin
      ACTIVEMQ_ADMIN_PASSWORD: admin
    networks:
      - appnet
    restart: unless-stopped

  notification-publisher:
    build:
      context: ./backend/NotificationPublisher
      dockerfile: Dockerfile
    container_name: notification-publisher
    depends_on:
      - activemq
    environment:
      - ACTIVEMQ_BROKER=tcp://activemq:61616
    networks:
      - appnet
    restart: unless-stopped

  backend-proxy:
    build:
      context: ./backend/ProxyCacheServer
      dockerfile: Dockerfile
    container_name: backend-proxy
    environment:
      - JcDecauxApiKey=${JcDecauxApiKey}
      - OpenRouteApiKey=${OpenRouteApiKey}
    networks:
      - appnet
    ports:
      - "8733:8733"

  backend-routing:
    build:
      context: ./backend/RoutingServer
      dockerfile: Dockerfile
    container_name: backend-routing
    networks:
      - appnet
    depends_on:
      - backend-proxy
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    networks:
      - appnet
    depends_on:
      - backend-routing
      - activemq
      - notification-publisher
    ports:
      - "80:80"

networks:
  appnet:
    driver: bridge
